body {
    font-family: Roboto, Arial Unicode MS, Arial, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Roboto, Arial Unicode MS, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    color: #2a2a2a;
    padding: 0;
    margin: 0;
}

a {
    font-family: Roboto, Arial Unicode MS, Arial, sans-serif;
    font-weight: 400;
    color: #0a789c;
    text-decoration: none;
}

span {
    font-family: Roboto, Arial Unicode MS, Arial, sans-serif;
    font-weight: 400;
}

a:visited {
    text-decoration: none;
}

[role='dialog'] > div > div:first-child {
    background-color: transparent;
}
